---
import Button from "./Button.astro";
---

<section>
  <div class="subscribe">
    <div class="text">
      <h3>Subscribe Our Newsletter</h3>
      <p>
        Build stronger Customer Relationships with <strong>Consultalk</strong>
      </p>
    </div>
    <div class="subscribe-input">
      <input type="email" name="" id="" placeholder="your mail adress" />
      <Button variant="yellow">Subscribe</Button>
    </div>
  </div>
</section>

<style>
  .subscribe {
    overflow: hidden;
    position: relative;
    display: block;

    &::before, &::after {
      position: absolute;
      content: "";
    }

    &::before {
    background: var(--primary-color-02);
    z-index: 1;
    border-radius: 1.25rem;
    height: 10.25rem;
    width:10.25rem;
    right: -3rem;
    bottom: -6rem;
    transform: rotate(45deg);
    }

    &::after {
      background-image: var(--dot-pattern);
      height: 20rem;
      width:20rem;
      right: -8rem;
    top: -10rem;
    transform: rotate(43deg);
    z-index:0;
    }
  }


  .subscribe,
  .subscribe-input {
    display: flex;
    flex-direction: row;
  }

  .subscribe {
    justify-content: space-between;
    align-items: center;
    max-height: 15.75rem;
    background-color: var(--primary-color-03);
    border-radius: var(--box-border-radius);
    padding: var(--space-l);

.text {
    display: grid;
    gap: var(--space-3xs);
}

    * {
        z-index: 2;
    }

    h3,
    p {
      color: var(--secondary-color-02);


    }

    .subscribe-input {
      gap: var(--space-2xs);
      input {
        background-color: var(--secondary-color-02);
        border-radius: var(--btn-border-radius);
        padding-inline: 2rem;
      }
    }
  }
</style>
